body {    
    white-space: -pre-wrap; /* Opera 4-6 */    
    font-family: 'Noto Sans KR', sans-serif;
}

img {
    vertical-align: middle;

}
h2 {
    padding: 5% 0 0 0 ;
}

h4 {
    margin : 3% 0 0 0;
    cursor: pointer;
}

.btns {
    text-align: center; 
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    width: 95%;
    height: 7%;
    display: inline-block;

}

b {
    color: blue;
}

button {
     width: 70px;
     height: 30px;
     background-color: darkorange;
}

button, input {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    border-radius: 0;  /* for iOS input button */
    border: 1px solid #D0D0D0;
}

pre {
    background-color: #E6E6FA;
    padding: 20px 10px 10px 10px;
    overflow: auto;
    white-space: pre-wrap;
}

section {
    margin : 3% 0 10% 0;
}
section div.contents {
    margin-bottom : 2%;        
    font-weight: 300;
    cursor: pointer;
    border-bottom: 1px solid black;
}

section pre {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 13px;
}

section div:hover{
    background-color: rgba(169, 169, 169, 0.527);
}

.important {
    color : red;
}

@media (max-width: 800px) {
    section div {
        margin-bottom : 8%;
    }
}