body {    
    white-space: -pre-wrap; /* Opera 4-6 */    
    font-family: 'Noto Sans KR', sans-serif;
}

img {
    vertical-align: middle;

}
h2 {
    padding: 5% 0 0 0 ;
}



button, input {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    border-radius: 0;  /* for iOS input button */
    border: 1px solid #D0D0D0;
}
button {
    width: 100px;
    height: 5%;
}

pre {
    background-color: #E6E6FA;
    padding:10px;
    overflow: auto;
    white-space: pre-wrap;
}


section div {
    margin-bottom : 30px;        
    font-weight: 300;
}

section pre {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 13px;
}

section div:hover{
    background-color: rgba(169, 169, 169, 0.527);
}

.중요 {
    color : red;
}

.내용 {
    position: fixed;                    
    top: 0px;
    left: 0px;
}
.단어 {
    position: fixed;
    top: 0px;
    left: 110px;
}